tr{
	background-color: lightslategray;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#expertise{
	color: firebrick;
}
.colorMeBlue{
	color: blue;
}
.cities{
	color: yellowgreen;
}
.state{
	color: darkgoldenrod;
}
.Gender{
    color: indianred;
}
.Email{
	color: orangered;
}